<%= render partial: "administrator/navigation_bar" %>
<div id="flash_wrapper">
    <%= render partial: "layouts/flash", locals: {flash_class: ""} %>    
</div>

<div id="price_manager_header_wrapper">
    <div id="price_manager_header_text">
        Current Price Rules        
    </div>
</div>

<% if @price_rules.empty? %>
    <div id="price_rule_empty">
        There are currently no price rules!
    </div>
<% else %>
    <div id="price_manager_body_wrapper">
        <table class="price_manager_table center">
            <% @price_rules.each do | price_rule | %>
                <tr>
                    <td class="price_rule_td price_rule_name">
                        <%= price_rule.name %>
                    </td>
                    <td class="price_rule_td price_rule_description">
                        <%= price_rule.description %>
                    </td>
                    
                    <td class="price_rule_button price_rule_td price_rule_view_button"> 
                        <%= link_to "View", price_rule_path(price_rule), class: "price_rule_button button form_button", id: "view_price_rule_#{price_rule.id}" %>
                    </td>
                    
                    <td class="price_rule_button price_rule_td price_rule_edit_button">
                        <%= link_to "Edit", edit_price_rule_path(price_rule), class: "price_rule_button button form_button", id: "edit_price_rule_#{price_rule.id}" %>                        
                    </td>
                    <td class="price_rule_button price_rule_td_right price_rule_td price_rule_delete_button">
                        <%= link_to "Delete", price_rule_path(price_rule), method: "delete", class: "price_rule_button button form_button", id: "delete_price_rule_#{price_rule.id}" %>                         
                    </td>
                </tr>
            <% end %>         
        </table>
    </div>
<% end %>
<div id="price_rule_save_button">
    <%= link_to "Add", new_price_rule_path, class: "price_rule_button button form_button" %>            
</div>