<% content_for :title, "About the Cottage | Carob Cottage" %>
<%= render partial: "layouts/customer_navigation_bar", locals: {current_page: "About the Cottage"} %>
<div class="nav_bar_filler"></div>

<div id="original_cottage">
    <div id="original_cottage_descriptor_wrapper">
            <div id="original_cottage_descriptor">
                Carob Cottage, 1950
            </div>
    </div>
    <div id="original_cottage_title_wrapper">
        <div id="original_cottage_title">
            Cottage History
        </div>
    </div>
</div>

<div class="down_arrow_wrapper">
    <div class="downArrow bounce" onclick="scroll_to('#original_explanation')">
        <img width="40" height="40" alt="" src="<%= asset_path('navigation_arrows/down_arrow.png') %>" />
    </div>
</div>

<div id="original_explanation" class="history_seperator history_about_us">
    Carob cottage was built sometime in the 1880's using local materials; bluestone covered with a lime plaster for the walls and bluegum for some of the steps and supports for the cellar. 
    Bluegum slats were hand cut and used for the cellar roof. A clay/straw mixture was laid on top of this (to help keep the cellar cool), then the timber floor was laid over this.
</div>

<div class="history_seperator history_about_us">
    The cottage was originally 3 rooms. The bedroom over the cellar was used as a sitting room, the bedroom next to this was the main bedroom and the kitchen area was used for dining. 
    The pipe lengths that run along the walls are used to stabilise and for extra wall support as this area of the cottage has no foundations. The doorway leading to the lounge from the kitchen was originally the back door, which opened to a verandah on which were the cooking area to the right and the bathroom/laundry to the left. 
    These were both enclosed with corrugated iron. All meals were prepared on the blue wood stove (now in the old fireplace) and then passed in through the window above the sink. 
    The sink was originally outside too.
</div>

<div id="history_banner_wrapper">
    <img id="history_banner_photos" src="<%= asset_path('carob_cottage_scenary/history_banner.jpg') %>"/>    
</div>

<div class="history_seperator history_about_us">
    <p>
        The ceilings in the front bedroom and lounge are pressed metal. On top of these are a thick layer of clay and then a layer of straw. 
        This is for insulation and is still there. The other 2 bedrooms, laundry and toilet were added in 1988 and the lounge was added in 1993.
    </p>
    <p>
        This property was once part of a larger land holding, before the house was built. 
        Carl Friedrich Keller was the first owner, whose original house is located on Roennfeldt Road and is now used as a shed.        
    </p>
    
    <p>
        The property is now approx. 30 acres in size, about 17 acres are planted to shiraz, which were planted in the early and mid 1990's. This area with deep clay soils, lends itself particularly to red grape varieties eg. 
        Grenache, Shiraz, Mataro and many world famous wines are produced using grapes from this region.
    </p>
</div>

<div class="owner_profile">
    <div id="owner_photo_wrapper">
        <img id="owner_photo" src="<%= asset_path('owner/mother.jpg') %>"/>
    </div>
    <div id="owner_description">
        <h3>About the Owner</h3>
        <p>
            Carob Cottage is owned and operated by Dianne Kassebaum (pictured) and David Kassebaum. They have utilised Carob Cottage as a Bed and Breakfast since 2004.             
        </p>
        <p>
            David, Dianne and their 4 children used to live in the cottage but decided to upsize as the family grew. They decided to restore the cottage in a way which contained modern conveniences with reminders of its original history. 
        </p>
    </div>
</div>

<%= render partial: "layouts/footer" %>