<% content_for :title, "Contact Us | Carob Cottage" %>
<%= render partial: "layouts/customer_navigation_bar", locals: {current_page: "Contact Us"} %>
<div class="side_bar_filler"></div>

<div class="contact_us_wrapper form_wrapper text_field">
    <div id="flash_wrapper">
        <%= render partial: "layouts/flash", locals: {flash_class: ""} %>    
    </div>
    <div class="contact_us_heading">Send us a Message</div>
    <%= form_tag contact_us_message_path do %>
      <%= text_field_tag  :name,          "", class: "customer_field w3-input", placeholder: "Name"               %>
      <%= email_field_tag :email_address, "", class: "customer_field w3-input", placeholder: "Email Address"      %>
      <%= text_area_tag   :message,       "", class: "customer_field customer_message w3-input", placeholder: "Message" %>
      <div id="send_message_button_wrapper">
          <%= submit_tag "Submit", class: "form_button" %>
      </div>
    <% end %>
    <br/>
    <table>
        <tr>
            <td>
                <div>
                    Please send any queries to staycarobcottage@gmail.com.
                </div>
                <div>
                    Or, call us on 0413249322.
                </div>
            </td>
            <td id="cottage_details">
                <div>
                    <strong>Carob Cottage</strong>
                    <div>145 Nitschke Road, </div>
                    <div>Marananga SA 5355</div>
                </div>
            </td>
        </tr>
    </table>
</div>

<%= render partial: "layouts/footer" %>