<%= render partial: "layouts/customer_navigation_bar", locals: {current_page: "Carob Cottage"} %>
<div class="nav_bar_filler"></div>

<div id="extern_wrapper">
    <div id="video_frame_holder_wrapper">
        <div id="video_frame_holder"></div>
    </div>
</div>

<%= render partial: "layouts/youtube_video", locals: {div_id: "video_frame_holder", video_id: 'M7lc1UVf-VE'} %>

<div id="home_gallery_body">
  <div class="gallery_slider w3-display-container ">
    <%= render partial: "static_pages/gallery/front_house"    , locals: {show_label: false} %>
    <%= render partial: "static_pages/gallery/front_lounge"   , locals: {show_label: false} %>
    <%= render partial: "static_pages/gallery/dining_area"    , locals: {show_label: false} %>
    <%= render partial: "static_pages/gallery/lounge_room"    , locals: {show_label: false} %>
    <%= render partial: "static_pages/gallery/master_bedroom" , locals: {show_label: false} %>
    <%= render partial: "static_pages/gallery/back_of_house"  , locals: {show_label: false} %>
    <%= render partial: "static_pages/gallery/back_yard_table", locals: {show_label: false} %>
    <%= render partial: "static_pages/gallery/side_of_house"  , locals: {show_label: false} %>
    <%= render partial: "static_pages/gallery/side_yard"      , locals: {show_label: false} %>
  </div>
</div>

<div class="down_arrow_wrapper">
    <div class="downArrow bounce" id="scroll_arrow" onclick="scroll_to('.home_body')">
        <img width="40" height="40" alt="" src="<%= asset_path('navigation_arrows/down_arrow.png') %>" />
    </div>    
</div>

<script>
  if(timer != null) 
  { 
      clearInterval(timer); 
      timer = null;
      showImages();
  }

  function showImages()
  {
      var video_wrapper = document.getElementById("extern_wrapper");
      $(video_wrapper).remove();
      var x = document.getElementsByClassName("gallery_image_wrapper");
      for (i = 0; i < x.length; i++) x[i].style.display = "none"      
      if(timer != null) { clearInterval(timer); }
      body = document.getElementById("home_gallery_body")
      body.style.display = "block";
      first_image = document.getElementsByClassName("gallery_image_wrapper")[0];
      $(first_image).fadeIn(800);
      timer = setInterval(function(){plusDivs(1)}, 5000);          
  }
  
  var hideVideoShowImages = function()
  {
    showImages();
  }

  function plusDivs(n) 
  {
    showDivs(slideIndex += n);
  }

  function showDivs(n) 
  {
    var i;
    var x = document.getElementsByClassName("gallery_image_wrapper");
    if (n > x.length) {slideIndex = 1}    
    if (n < 1) {slideIndex = x.length}
    for (i = 0; i < x.length; i++) 
    {
      if(x[i].style.display != "none") {  
        $(x[i]).fadeOut(800, function() { $(x[slideIndex-1]).fadeIn(800) })
      }
      else { x[i].style.display = "none"; }
    }
  }
</script>


<div class="home_body">
    <div class="general_description">
        <div>    
            A stay at Carob Cottage places you amongst a relaxing and private vineyard setting right in the heart of the Barossa. 
            You'll call Marananga home and be close to all the major towns and wineries of the Barossa.
        </div>
    </div>
</div>
<%= render partial: "layouts/google_maps" %>    
<div class="home_body">
    <div class="general_description">
        Carob Cottage is perfect for all seasons, featuring a wood fire place plus reverse cycle air conditioning.
    </div>
</div>
    <div class="home_body">
        <div class="general_description">
            It comfortably accomodates 5 adults in 3 bedrooms located in the stand-alone home, including a queen, double and single bed.  
        </div>
    </div>
<div class="home_body">
    <div id="ammenities_general">
        <div id="house_guests">
            Up to 5 guests
        </div>        
        <div id="house_bed">
            3 bedrooms
        </div>
        <div id="house_bathroom">
            1 bathroom
        </div>
    </div>    
    <div id="ammenities_body">
        <div id="ammenity_wood_fire" class="ammenity">
            Slow combustion log fire
        </div>
        <div id="ammenity_kitchen" class="ammenity">
            Fully equiped kitchen
        </div>
        <div class="ammenity_seperator"></div>
        <div id="ammenity_linen" class="ammenity">
            All linen provided
        </div>
        <div id="ammenity_internet" class="ammenity">
            Unlimited wireless internet
        </div>
        <div class="ammenity_seperator"></div>
        <div id="ammenity_breakfast" class="ammenity">
            Light breakfast provided for the first morning
        </div>
        <div id="ammenity_airconditioning" class="ammenity">
            Reverse-cycle air-conditioning
        </div>
        <div class="ammenity_seperator"></div>
        <div id="ammenity_heater" class="ammenity">
            Heaters in all bedrooms and the front lounge 
        </div>
        <div id="ammenity_bbq" class="ammenity">
            Outdoor dining area with BBQ
        </div>
        <div class="ammenity_seperator"></div>        
        <div id="ammenity_laundry" class="ammenity">
            Fully equiped laundry 
        </div>
        <div id="ammenity_bathroom" class="ammenity">
            Full sized bath and seperate shower 
        </div>
    </div>
</div>

<div id="four_photos">
    <div id="view_gallery">
        <%= link_to(gallery_path) do %>
            <div class="home_button_wrapper">
                <button class="home_button"><span>View the Gallery</span></button>        
            </div>    
        <% end %>
    </div><div id="make_reservation">
        <%= link_to(reservation_path) do %>
            <div class="home_button_wrapper">
                <button class="home_button"><span>Place a Reservation</span></button>        
            </div>
        <% end %>
    </div>
    
    <div id="home_history">
        <%= link_to(about_path) do %>
            <div class="home_button_wrapper">
                <button class="home_button"><span>Learn about the History</span></button>        
            </div>    
        <% end %>
    </div><div id="home_contact_us">
        <%= link_to(contact_us_path) do %>
            <div class="home_button_wrapper">
                <button class="home_button"><span>Send us a message</span></button>        
            </div>
        <% end %>
    </div>
</div>


<%= render partial: "layouts/footer" %>