New Reservation Request

Hi <%= @admin.name %>, 
You have received a new booking request! Go to the <a href="www.carobcottage.com/administration/booking_manager">Carob Cottage Booking Manager</a> to set this reservation to booked, 
and make sure to respond to the guest at <%= @booking.email_address %> as soon as possible!

Booking Details:

Name <%= @booking.name %>
Email address: <%= @booking.email_address %>
Arrival Date:<%= @booking.arrival_date.strftime("%d-%m-%Y") %>
Departure Date: <%= @booking.departure_date.strftime("%d-%m-%Y") %>
Contact number: <%= @booking.contact_number %>
Number of guests: <%= @booking.number_of_people %>
Preffered payment method: <%= @booking.preferred_payment_method %>
Estimated Cost: $<%= @booking.cost %>
Country: <%= @booking.country %>
Status: <%= @booking.status %>
Submitted at: <%= @booking.created_at %>
    
<% unless @booking.postcode.nil? || @booking.postcode.empty? %>
    Postcode: <%= @booking.postcode %>
<% end %>
    
<% unless @booking.estimated_arrival_time.nil? || @booking.estimated_arrival_time.empty? %>
    Estimated Arrival Time: <%= @booking.estimated_arrival_time %>
<% end %>

Kind regards,

Carob Cottage.

