<div id="calendar">
    <div id="selected_triangle_check_in" class="triangle-up selected_triangle"></div>    
    <%= render partial: "booking/date_buttons/month_calendar_header" %>
    <%= month_calendar start_date: @start_date do |date| %>
        <td class="customer_calendar_day">
            <% if date.mon == @start_date.month %>
                <% unless @blocked_dates.include? date.mday %>
                    <%= link_to "#{date.mday}", 
                        reservation_calendar_path(start_date: @start_date, check_in_date: date), 
                        class: "check_in_unblocked", 
                        onclick: "set_form_value('booking_arrival_date','#{date.strftime("%Y-%m-%d")}')",
                        remote: true %>
                <% else %>
                    <div class="check_in_blocked"><%= date.mday %></div>
                <% end %>
            <% end %>
        </td>
    <% end %> 
    <div class="rules_link"><i>*Note: </i> a minimum of 2 nights stay applies. </div>
    <div class="rules_link">Check out our <%= link_to "rates and general rules", tarrif_path, target: :_blank %>.</div>
</div>