<%= form_for @booking, url: {action: "update"}, remote: true, id: "edit_booking_form" do |f| %>
    <img id="close_button" src="/assets/close_button.png" onclick="delete_parent_contents('individual_booking'); set_width('individual_booking_place_holder','0px')"></div>    
    <%= f.submit "Save", class: "button", id: "edit_booking_button" %>
    <div id="individual_booking_title">Booking ID: <%=@booking.id%></div>
    <table id="individual_booking">
        <tr>
            <td class="booking_attribute">Name:</td><td class="gray_border_right"><%= f.text_field :name, class: "booking_form_element w3-input", value: "#{@booking.name}"%></td>
            <td class="booking_attribute">Total Price:</td><td><%= f.text_field :cost, class: "booking_form_element w3-input", value: "#{@booking.cost}" %></td>
        </tr>
        <tr>
            <td class="booking_attribute">Status:</td><td class="gray_border_right">
                <%= f.radio_button :status, 'reserved', :checked => ("#{@booking.status}" == "reserved") %> Reserved
                <%= f.radio_button :status, 'booked'  , :checked => ("#{@booking.status}" == "booked") %>   Booked
            </td>
            <td class="booking_attribute">Email Address: </td><td><%= f.text_field :email_address, class: "booking_form_element w3-input", value: "#{@booking.email_address}"%></td>        
        </tr>
        <tr>
            <td class="booking_attribute">Contact Number:   </td><td class="gray_border_right"><%= f.text_field :contact_number, class: "booking_form_element w3-input", value: "#{@booking.contact_number}"%></td>
            <td class="booking_attribute">Number of Guests: </td><td><%= f.text_field :number_of_people, class: "booking_form_element w3-input", value: "#{@booking.number_of_people}"%></td>        
        </tr>
        <tr>
            <td class="booking_attribute">Estimated Arrival Time:   </td><td class="gray_border_right"> <%= f.text_field :estimated_arrival_time, class: "booking_form_element w3-input", value: "#{@booking.estimated_arrival_time}"%> </td>
            <td class="booking_attribute">Preferred Payment Method: </td><td><%= f.text_field :preferred_payment_method, class: "booking_form_element w3-input", value: "#{@booking.preferred_payment_method}"%></td>
        </tr>
        <tr>
            <td class="booking_attribute">Arrival Date:   </td><td class="gray_border_right"><%= f.text_field :arrival_date, class: "booking_form_element w3-input", value: "#{@booking.arrival_date}"%></td>
            <td class="booking_attribute">Departure Date: </td><td> <%= f.text_field :departure_date, class: "booking_form_element w3-input", value: "#{@booking.departure_date}"%> </td>
        </tr>
        <tr>
            <td class="booking_attribute">Postcode: </td><td class="gray_border_right"><%= f.text_field :postcode, class: "booking_form_element w3-input", value: "#{@booking.postcode}"%></td>
            <td class="booking_attribute">Country:  </td><td><%= f.text_field :country, class: "booking_form_element w3-input", value: "#{@booking.country}"%></td>
        </tr> 
    </table>
<% end %>