<div class="customer_page">
    <div class="form_body">
        <%= form_for @booking, :url => { :action => "create_customer_booking" } do |f| %>
            <%= f.hidden_field :arrival_date %>
            <%= f.hidden_field :departure_date %>
            <table class="center">
                <tr>
                    <td id="check_in_button_wrapper"><%= render partial: "booking/date_buttons/new_buttons/check_in"  %></td>
                    <td id="check_out_button_wrapper"><%= render partial: "booking/date_buttons/new_buttons/check_out" %></td>
                    <td><%= f.select :number_of_people, @guest_selector, id: "booking_number_of_people", class: "customer_form w3-input" %></td>
                </tr>
                <tr>
                    <td><%= @form_errors[:arrival_date] %></td>
                    <td><%= @form_errors[:departure_date] %></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div id="reservation_calendar">
                        </div>                        
                    </td>
                    <td></td>
                </tr>
            </table>
            <%= f.text_field   :name, id: "booking_name", class: "customer_form w3-input", placeholder: "Name" %>
            <%= @form_errors[:name] %>
            <%= f.text_field   :contact_number, id: "booking_contact_number", class: "customer_form w3-input", placeholder: "Contact Number" %>
            <%= @form_errors[:contact_number] %>
            <%= f.email_field  :email_address, id: "booking_email_address", class: "customer_form w3-input", placeholder: "Email Address" %>
            <%= @form_errors[:email_address] %>
            <%= f.text_field   :country, id: "booking_country", class: "customer_form w3-input", placeholder: "Country" %>
            <%= @form_errors[:country] %>
            <%= f.text_field   :postcode, id: "booking_postcode", class: "customer_form w3-input", placeholder: "Postcode (optional)" %>
            <%= @form_errors[:postcode] %>
            <%= f.text_field   :estimated_arrival_time, id: "booking_estimated_arrival_time", class: "customer_form w3-input", placeholder: "Estimated Arrival Time (After 2pm)" %>
            <%= @form_errors[:estimated_arrival_time] %>
            Preferred payment method
            <%= f.radio_button :preferred_payment_method, 'Cash on Arrival', :checked => true,  class: "w3-input"  %> Cash on Arrival<%= @form_errors[:preferred_payment_method] %>
            <%= f.radio_button :preferred_payment_method, 'Direct Debit',    :checked => false, class: "w3-input" %> Direct Debit
            <input type="checkbox" id="booking_agreement" name="terms_and_conditions_agreement" class="w3-input" onclick="invert_button_enabled('place_reservation_button','booking_agreement')"> I agree to the terms and conditions </br>
            <%= f.submit "Place Reservation", id: "place_reservation_button", disabled: true %>
            </table>            
        <% end %>
    </div>
</div>