<% content_for :title, "Reservation | Carob Cottage" %>

<%= render partial: "layouts/customer_navigation_bar", locals: {current_page: "Reservation"} %>
<div class="side_bar_filler"></div>

<div class="form_wrapper">
    <div class="form_body">
        <%= form_for @booking, :url => { :action => "create_customer_booking" } do |f| %>
            <%= f.hidden_field :arrival_date %>
            <%= f.hidden_field :departure_date %>
            <div class="center">
                
                    <div class="check_field" id="check_in_button_wrapper" ><%= render partial: "booking/date_buttons/new_buttons/check_in"  %></div>
                    <div class="check_field" id="check_out_button_wrapper"><%= render partial: "booking/date_buttons/new_buttons/check_out" %></div>
                    <div class="check_field"><%= f.select :number_of_people, @guest_selector, {}, 
                    {
                        onChange: "estimate_price('booking_number_of_people','booking_arrival_date','booking_departure_date')", 
                        id: "booking_number_of_people", 
                        class: "customer_form"
                    }
                    %></div>
                
                    <%= render partial: "booking/reservation_form_errors/date_error", locals: {attribute: @form_errors[:arrival_date]} %>   
                    <%= render partial: "booking/reservation_form_errors/date_error", locals: {attribute: @form_errors[:departure_date]} %>  
                    <div></div>
                
            </div>
            <div id="reservation_calendar"></div>     
            <%= f.text_field   :name, id: "booking_name", class: "customer_form w3-input", placeholder: "Name" %>
            <%= render partial: "booking/reservation_form_errors/form_error", locals: {attribute: @form_errors[:name] } %>
            <%= f.text_field   :contact_number, id: "booking_contact_number", class: "customer_form w3-input", placeholder: "Contact Number" %>
            <%= render partial: "booking/reservation_form_errors/form_error", locals: {attribute: @form_errors[:contact_number] } %>
            <%= f.email_field  :email_address, id: "booking_email_address", class: "customer_form w3-input", placeholder: "Email Address" %>
            <%= render partial: "booking/reservation_form_errors/form_error", locals: {attribute: @form_errors[:email_address] } %>
            <%= f.text_field   :country, id: "booking_country", class: "customer_form w3-input", placeholder: "Country" %>
            <%= render partial: "booking/reservation_form_errors/form_error", locals: {attribute: @form_errors[:country] } %>
            <%= f.text_field   :postcode, id: "booking_postcode", class: "customer_form w3-input", placeholder: "Postcode (optional)" %>
            <%= render partial: "booking/reservation_form_errors/form_error", locals: {attribute: @form_errors[:postcode] } %>
            <%= f.text_field   :estimated_arrival_time, id: "booking_estimated_arrival_time", class: "customer_form w3-input", placeholder: "Estimated Arrival Time (After 2pm)" %>
            <%= render partial: "booking/reservation_form_errors/form_error", locals: {attribute: @form_errors[:estimated_arrival_time] } %>
            <table id="preferred_payment_method">
                <tr>
                    <td id="booking_preferred_payment_method">
                        Preferred payment method
                    </td>
                    <td class="custom_radio_container">
                        <%= f.radio_button :preferred_payment_method, 'Cash on Arrival', :checked => true  %> Cash on Arrival
                    </td>
                    <td class="custom_radio_container">
                        <%= f.radio_button :preferred_payment_method, 'Direct Debit', :checked => false %> Direct Debit
                    </td>
                </tr>
                <%= render partial: "booking/reservation_form_errors/form_error", locals: {attribute: @form_errors[:preferred_payment_method] } %>
            </table>
            <div id="price_estimate_wrapper">
            </div>
            <table id="booking_agreement_wrapper">
                <tr>
                    <td><input type="checkbox" id="booking_agreement" name="terms_and_conditions_agreement" onclick="invert_button_enabled('place_reservation_button','booking_agreement')"> I agree to the <%= link_to("terms and conditions", terms_and_conditions_path, target: :_blank)  %></td>                   
                </tr>
            </table>
            <%= f.submit "Place Reservation", class: "form_button", id: "place_reservation_button", disabled: true %>
        <% end %>
    </div>
</div>

<%= render partial: "layouts/footer" %>