<div id="customer_navigation_bar">
    <div id="customer_navigation_bar_padding_left"></div>
    <%= render partial: "layouts/customer_navigation_bar_button", locals: {path: "/",                 button_name: "Carob Cottage",     current_page: current_page} %>
    <%= render partial: "layouts/customer_navigation_bar_button", locals: {path: about_the_area_path, button_name: "About the Area",    current_page: current_page} %>
    <%= render partial: "layouts/customer_navigation_bar_button", locals: {path: gallery_path,        button_name: "Gallery",           current_page: current_page} %>     
    <%= render partial: "layouts/customer_navigation_bar_button", locals: {path: reservation_path,    button_name: "Reservation",       current_page: current_page} %>
    <div class="nav_bar_seperator"></div>
    <%= render partial: "layouts/customer_navigation_bar_button", locals: {path: reservation_path,    button_name: "About the Cottage", current_page: current_page} %>
    <%= render partial: "layouts/customer_navigation_bar_button", locals: {path: reservation_path,    button_name: "Contact Us",        current_page: current_page} %>    
</div>
