<!DOCTYPE html>
<html>
  <head>
    <title>Carobcottage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href='https://fonts.googleapis.com/css?family=IBM Plex Sans Condensed' rel='stylesheet'>    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9G7LeGrtJ88Vlxj1WylMfLxS2lN1qwAw&libraries=places"></script>
  </head>

  <body id="<%= @body_id %>">
    <%= yield %>
    <script>
        fill();
    </script>    
  </body>
</html>
